.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  white-space: pre-wrap; /* 이 부분 추가 */
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.start-button-container {
  text-align: center;
}

.start-button {
  padding: 20px 40px;
  font-size: 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #0056b3;
}

.chat-room {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  height: 80%;
  max-height: 700px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.message .message-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 15px;
  background-color: #007bff;
  color: white;
  word-break: break-word;
}

.message.user .message-bubble {
  background-color: #007bff;
}

.message.ai {
  justify-content: flex-start; /* 이 부분 추가 */
}

.message.ai .message-bubble {
  background-color: #e1e1e1;
  color: black;
  white-space: pre-wrap;
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #0056b3;
}

.home-button {
  align-self: flex-start;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}

.logout-button {
  position: absolute;
  right: 28%;
  top: 8%;
  cursor: pointer;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}
